.botCont{
    text-align:justify !important;
    margin: 30px;
    white-space: pre-wrap;
}
.topCont{
    margin: 30px;
    width: 95%;
    height: 50px;
}
.containerInfo{
    display: flex !important;
    flex-direction: column;
    align-items: center;

}
.infoList{
    padding-left: 30px;
    padding-right: 30px;
}

.btnDiv:first-child{
    margin-right: 40px;
}