.botCont{
    text-align:justify !important;
    margin: 30px;
    white-space: pre-wrap;
    line-height: 30px;
}
.topCont{
    margin: 30px;
    /* width: 97%; */
    height: 50px;
    font-size: 20px;
    letter-spacing: 5px;
    text-decoration: underline;
}
.containerInfo{
    display: flex !important;
    flex-direction: column;
    align-items: center;

}
.infoList{
    padding-left: 30px;
    padding-right: 30px;
}

.btnDiv{
    margin-bottom: 50px;
}
.headH1{
    display: flex;
    justify-content: center;
}