.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.image-micro {
    height: 400px;
    min-height: 400px;
    min-width: 250px;
    width: 250px;
}
