.Navi{
    background-color: black;
    max-width: none!important

}
.foot{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.footBox{
        display: flex;
        justify-content: space-around;;
}

.footer{
    max-width: none!important;
}