.Navi{
    background-color: black;
    max-width: 100%;
}
.foot{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.footBox{
        display: flex;
        justify-content: center;
}